<div class="container-fluid" id="welcome">
    <div class="row row-cols-12 h-25">
        <div class="col-12">
            {{pageTitle}}
        </div>
    </div>
    <div class="row row-cols-12 h-25">
        <div class="col-12">
            {{pageDescription}}
        </div>
    </div>
    <div class="row row-cols-12 h-50">
        <div class="col-6">
            <button type="button" class="btn btn-outline-light" [routerLink]="['/aboutme']">
            {{pageMapAlternative}}
            </button>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-outline-light" [routerLink]="['/book']">
            {{pageBookAlternative}}
            </button>
        </div>
    </div>
</div>
