#welcome {
  margin-left: 0;
  margin-right: 0;
  padding: 2vw 0;
  height: calc(100vw/3.5);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: local;
  background-color: #073642;
  color: rgba(255, 255, 255, .75);
  font-size: 3vw;
  text-align: center;
}

.row .col {
padding: 5vw;
margin: 0 0 0 0;
display: flex;
justify-content: center;
align-items: center;
}

image {
size: 50%;
}
