<div class="container-fluid" id="welcome">
    <div class="row row-cols-12 h-25">
        <div class="col-12 text-center" id="title">
            {{pageTitle}}
        </div>
    </div>
  <div class="jumbotron"> </div>
  <div class="row row-cols-12 h-25" id="description">
        <div class="col-12 text-muted text-center">
            {{pageDescription}}
        </div>
    </div>
  <div class="jumbotron"> </div>
  <div class="row row-cols-12 h-50">
        <div class="col-6">
            <button type="button" id="map" class="btn btn-outline-success align-items-center justify-content-center border-light" [routerLink]="['/about']">
            {{pageMapAlternative}}
            </button>
        </div>
        <div class="col-6">
            <button type="button" id="book" class="btn btn-outline-success align-items-center justify-content-center border-light" [routerLink]="['/book']">
            {{pageBookAlternative}}
            </button>
        </div>
      <div class="jumbotron"> </div>
    </div>
</div>
