d-flex {
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: local;
}

#editbox {
  box-sizing: border-box;
  width: 15%;
}

#infobox {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  box-sizing: border-box;
  width: 85%;
}
