<div  *ngIf="cardType === 'profesional'" class="container-fluid" id="profesionalCard">
  <div class="row">
    <h1>{{workexperience.position}}</h1>
  </div>
  <div class="row">
    <h2>{{workexperience.employer}}</h2>
  </div>
  <div class="row">
    <h2>{{workexperience.periodFrom}} - {{workexperience.periodTo}}</h2>
  </div>
  <div class="row">
    <h3>{{workexperience.details}}</h3>
  </div>
</div>

<div *ngIf="cardType === 'aboutme'" class="container-fluid" id="aboutmeCard">
  <div class="row">
    <h2>{{aboutme.fact1}}</h2>
  </div>
  <div class="row">
    <h2>{{aboutme.fact2}}</h2>
  </div>
  <div class="row">
    <h2>{{aboutme.fact3}}</h2>
  </div>
</div>


