
<div class="container-fluid" id="card">
  <div class="row">
    <h1>{{workexperience.position}}</h1>
  </div>
  <div class="row">
    <h2>{{workexperience.employer}}</h2>
  </div>
  <div class="row">
    <h2>{{workexperience.periodFrom}} - {{workexperience.periodTo}}</h2>
  </div>
  <div class="row">
    <p>{{workexperience.details}}</p>
  </div>
</div>

<!-- <ng-container>
<div class="container-fluid" id="card">
  <div class="row">
    <h1>{{aboutme.fact1}}</h1>
  </div>
  <div class="row">
    <h2>{{aboutme.fact2}}</h2>
  </div>
  <div class="row">
    <h2>{{aboutme.fact3}} - {{workexperience.periodTo}}</h2>
  </div>
</div>
</ng-container>
 -->
