<!-- <div class="row">
    <div class="col">
        <img src="../../../assets/icons/edit/new-page.png" alt="Add" width="1vw"height="1vw">
    </div>
  </div>
  <div class="row">
    <div class="col">
        <img src="../../../assets/icons/edit/pencil.png" alt="Edit" width="1vw"height="1vw">
    </div>
  </div>
  <div class="row">
    <div class="col">
        <img src="../../../assets/icons/edit/minus.png" alt="Delete" width="1vw"height="1vw">
    </div>
  </div>
 -->

 <ul class="nav flex-column">
  <li class="nav-item">
      <img class="img-fluid" src="../../../assets/icons/edit/add.png" alt="Add" >
  </li>
  <li class="nav-item">
      <img class="img-fluid" src="../../../assets/icons/edit/edit.png" alt="Edit" >
  </li>
  <li class="nav-item">
      <img class="img-fluid" src="../../../assets/icons/edit/trash.png" alt="Delete">
  </li>
</ul>
