<div class="btn-group-vertical d-block d-inline-flex">
   <button class="btn btn-outline-success text-primary me-2" (click)="openAddModal()">
     <fa-icon [icon]="faSquarePlus"></fa-icon>
   </button>
   <button class="btn btn-outline-success text-primary me-2" (click)="openChangeModal()">
     <fa-icon [icon]="faPen" class="fa-xs"></fa-icon>
   </button>
   <button class="btn btn-outline-success text-primary me-2" (click)="openDeleteModal()">
     <fa-icon [icon]="faTrashCan"></fa-icon>
   </button>
 </div>
