<app-navbar></app-navbar>

<article>
    <section>
        <h2 class="title">Sobre mí</h2>
            <ul class="group" *ngFor="let about of allAboutme; let i= index">
                <li>{{allAboutme[i].about}}.</li>
            </ul>
    </section>
    <div class="jumbotron"> </div>
    <section>
        <h2 class="title">Formación y experiencia</h2>
        <ul class="block" *ngFor="let workexperience of allWorkexperience; let i= index">
            <h3 class="subtitle">{{allWorkexperience[i].position}}</h3>
            <li>{{allWorkexperience[i].dateFrom  | customDate}} - {{allWorkexperience[i].dateTo  | customDate}}</li>
            <li>{{allWorkexperience[i].institutionName}}</li>
            <li>{{allWorkexperience[i].institutionCity}}</li>
            <li>{{allWorkexperience[i].details}}</li> 
        </ul>
    </section>
    <div class="jumbotron"> </div>
    <section>
        <h2 class="title">Hard Skills</h2>    
        <ul class="group" *ngFor="let hardSkill of allHardSkill; let i= index">
            <li>{{allHardSkill[i].skill}}</li>                          
        </ul>            
    </section>
    <div class="jumbotron"> </div>
    <section>
        <h2 class="title">Soft Skills</h2>
        <ul class="group" *ngFor="let softskills of allSoftSkill; let i= index">
            <li>{{allSoftSkill[i].skill}}</li>                          
        </ul>            

    </section>
    <div class="jumbotron"> </div>
    <section >
        <h2 class="title">Proyectos</h2>
        <ul class="block" *ngFor="let aProject of allProjects; let i= index">
            <h3  class="subtitle">{{allProjects[i].projectName}}</h3>
            <li>{{allProjects[i].projectDescription}}</li>
            <li>Ver en <a href="{{allProjects[i].projectUrl}}" target="_blank">{{allProjects[i].projectName}}</a></li>
        </ul>
    </section>

</article>
