  .main-wrapper {
    background: #fff;
    padding: 6vw;
    padding-right: 6vw;
  }

  p {
    font-size: 1.4vw;
    position: relative;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1;
  }

  .main-wrapper .section-title {
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 600;
    color: #8DBB7D;
    position: relative;
    float: inline-start;
    display: inline-flexbox;
    position: sticky;
  }

  .main-wrapper .item-title {
    position:-webkit-sticky;
    display: inline-block;
  }

  .icon-holder {
    width: 2vw;
    height: 2vw;
    color: #fff;
    float: left;
    position: fixed;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #8DBB7D;
    text-align: center;
    font-size: 1.4vw;
  }

  .main-wrapper .section {
    margin-bottom: 6vw;
  }
  .main-wrapper .experiences-section .item {
    margin-bottom: 3vw;
  }
  .main-wrapper .upper-row {
    position: relative;
    overflow: hidden;
    margin-bottom: 0.2vw;
  }
  .main-wrapper .job-title {
    color: #3F4650;
    font-size: 1.6vw;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
  }
  .main-wrapper .time {
    position: absolute;
    right: 0;
    top: 0;
    color: #97AAC3;
  }
  .main-wrapper .location {
    position: absolute;
    right: 0;
    top: 0;
    color: #97AAC3;
  }
  .main-wrapper .company {
    margin-bottom: 1vw;
    color: #97AAC3;
  }
  .main-wrapper .project-title {
    font-size: 1.6vw;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.5vw;
  }
  .main-wrapper .projects-section .intro {
    margin-bottom: 3vw;
  }
  .main-wrapper .projects-section .item {
    margin-bottom: 1.5vw;
  }
  
  .skillset .item {
    margin-bottom: 1.5vw;
    overflow: hidden;
  }
  .skillset .level-title {
    font-size: 1.4vw;
    margin-top: 0;
    margin-bottom: 1.2vw;
  }
  .skillset .level-bar {
    height: 1.2vw;
    background: #f5f5f5;
    -webkit-border-radius: 0.2vw;
    -moz-border-radius: 0.2vw;
    -ms-border-radius: 0.2vw;
    -o-border-radius: 0.2vw;
    border-radius: 0.2vw;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
