main {
  justify-content: center;
  justify-items: center;
  font-size: 1vw;
}

main {
  display: flex;
  align-items: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.form {
  min-width: 30vw;
  max-width: 50vw;
}

label {
  font-size: small;
}

input {
  z-index: 2;
}

input[type="text"] {
  margin-bottom: -1vh;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

input[type="password"] {
  margin-bottom: 1vh;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
