<footer class="footer bg-dark text-white container-dark">
  <div class="row row-cols-12 container-fluid">
     <div class="col-6 d-flex justify-content-start" id="ap">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img src="../../../assets/img/APLogo754.png" class="img-fluid" alt='Logo Argentina Programa'>
      </a>
      <span class="text-muted"><p>Proyecto elaborado en el marco de #ArgentinaPrograma</p></span>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <a href="https://www.flaticon.com/authors/smalllikeart" title="Explore icons credit"><p>Explore icons by smalllikeart - Flaticon</p></a>
      </div>
      <div class="col-3 d-flex justify-content-end">
      <a href="https://www.flaticon.com/free-icons/trash" title="UI icons"><p>UI icons created by dmitri13 - Flaticon</p></a>
    </div>
  </div>
</footer>
