<footer class="footer bg-dark text-white container-dark">
  <div class="row row-cols-12 container-fluid">
     <div class="col-2 align-content-left d-flex">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <img src="../../../assets/img/APLogo754.png" class="img-fluid" alt='Logo Argentina Programa'>
        </a>
     </div>
     <div class="col-5 d-flex justify-content-start">
        <span class="text-muted">Proyecto elaborado en el marco de #ArgentinaPrograma</span>
      </div>
      <div class="col-5 d-flex justify-content-end">
        <a href="https://www.flaticon.com/authors/smalllikeart" title="Icons credit"> Icons by smalllikeart - &copy; Flaticon </a>
      </div>
  </div>
</footer>
