<nav class="navbar container-fluid bg-dark navbar-dark">
      <app-navbutton [htmlId]="0" [routerLink]="['/about']"></app-navbutton>
      <app-navbutton [htmlId]="1" [routerLink]="['/education']"></app-navbutton>
      <app-navbutton [htmlId]="2" [routerLink]="['/professional']"></app-navbutton>
      <app-navbutton [htmlId]="3" [routerLink]="['/hardskills']"></app-navbutton>
      <app-navbutton [htmlId]="4" [routerLink]="['/softskills']"></app-navbutton>
      <app-navbutton [htmlId]="5" [routerLink]="['/projects']"></app-navbutton>
</nav>
