.bi {
  vertical-align: -.125em;
  fill: #343a40;
  width: 2.4vw;
  height: 2.4vw;
}
#icons p {
  color: #232527;
  font-weight: 600;
  font-size: 1vw;
  text-transform: uppercase;
}

#icons img {
  width: 4vw;
}
