<header class="container-fluid">
    <div class="row row-cols-2">
      <div class="col-3">
      </div>
      <div class="col-6">
        <h1>{{title}}</h1>
        <p>Lucía Oderiz Mesropian</p> 
      </div>
      <div class="col-3">
        <ul class="nav justify-content-end list-unstyled d-flex p-4">
          <li class="ms-3"><a href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
          <li class="ms-3"><a href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
          <li class="ms-3"><a href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
        </ul> 
      </div>
  </div>
</header>