<header class="container-fluid">
    <div class="row row-cols-12">
      <div class="col-3">
        <a [href]="person.linkedin">
        <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
        <a [href]="person.git">
        <fa-icon [icon]="faGithub"></fa-icon>
        </a>
      </div>

      <div class="col-6">
        <h1 routerLink='/welcome' class="text-light text-center ">{{title}}</h1>
        <h3 class="text-light text-center">{{person.name}} {{person.surname}}</h3>
      </div>

      <div class="col-3 justify-content-between" >
        <a *ngIf="!isLoggedIn" [routerLink]="['/login']">
          <fa-icon [icon]="faLock"></fa-icon>
        </a>

        <a *ngIf="isLoggedIn" (click)="logout()">
          <fa-icon  [icon]="faUnlock"></fa-icon>
        </a>

        <a href="./book">
          <fa-icon [icon]="faEye"></fa-icon>
        </a>

      </div>
  </div>
</header>
