<div class="modal-header" >
  <h4 class="modal-title" > Agregar <em class="text-primary">"{{cardAlias}}"</em> a su perfil</h4>
  <button type="button" class="btn-close" aria-describedby="modal-add" (click)="dismiss()"></button>
</div>

<div class="modal-body" *ngIf="cardType === 'about'">
    <form novalidate
        [formGroup]="aboutForm"
        (ngSubmit)="submit()">
    <div class="form">
      <label class="col-form-label mt-4">Nuevo "sobre mí":</label>
      <input class="form-control"
             type="text"
             placeholder="Ingrese los datos requeridos"
             formControlName="inputAbout">
      <p class="text-primary">Esta acción añadirá <em>{{cardAlias}}</em> a su perfil.
        <span class="text-danger">Revise los datos ingresados antes de enviar.</span>
      </p>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="close()"
              [disabled]="aboutForm.invalid">Confirmar</button>
      </div>
    </div>
  </form>
</div>

<div class="modal-body" *ngIf="cardType === 'hardskills'">
  <form novalidate
        [formGroup]="hardskillForm"
        (ngSubmit)="submit()">
    <div class="form">
      <label class="col-form-label mt-4">Nueva hard skill:</label>
      <input class="form-control"
             type="text"
             placeholder="Ingrese los datos requeridos"
             formControlName="inputHardskill">
      <p class="text-primary">Esta acción añadirá <em>{{cardAlias}}</em> a su perfil.
        <span class="text-danger">Revise los datos ingresados antes de enviar.</span>
      </p>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="close()"
                [disabled]="hardskillForm.invalid">Confirmar</button>
      </div>
    </div>
  </form>
</div>

<div class="modal-body" *ngIf="cardType === 'softskills'">
  <form novalidate
        [formGroup]="softskillForm"
        (ngSubmit)="submit()">
    <div class="form">
      <label class="col-form-label mt-4">Nueva soft skill:</label>
      <input class="form-control"
             type="text"
             placeholder="Ingrese los datos requeridos"
             formControlName="inputSoftskill">
      <p class="text-primary">Esta acción añadirá <em>{{cardAlias}}</em> a su perfil.
        <span class="text-danger">Revise los datos ingresados antes de enviar.</span>
      </p>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="close()"
                [disabled]="softskillForm.invalid">Confirmar</button>
      </div>
    </div>
  </form>
</div>

<div class="modal-body" *ngIf="cardType === 'projects'">
  <form novalidate
        [formGroup]="projectForm"
        (ngSubmit)="submit()">
    <div class="form">
      <label class="col-form-label mt-4">Nuevo Proyecto:</label>
      <input class="form-control"
             type="text"
             placeholder="Ingrese los datos requeridos"
             formControlName="inputProjectName">
      <label class="col-form-label mt-4">Detalles del proyecto:</label>
      <input class="form-control"
             type="text"
             placeholder="Ingrese los datos requeridos"
             formControlName="inputProjectDetails">
      <label class="col-form-label mt-4">Url del proyecto:</label>
      <input class="form-control"
             type="text"
             placeholder="Ingrese los datos requeridos"
             formControlName="inputProjectUrl">
      <p class="text-primary">Esta acción añadirá <em>{{cardAlias}}</em> a su perfil.
        <span class="text-danger">Revise los datos ingresados antes de enviar.</span>
      </p>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="close()"
                [disabled]="projectForm.invalid">Confirmar</button>
      </div>
    </div>
  </form>
</div>


<div class="modal-body" *ngIf="cardType === 'professional'">
  <form novalidate
        [formGroup]="workexperienceForm"
        (ngSubmit)="submit()">
    <div class="form">
      <label class="col-form-label mt-4">Nuevo puesto laboral:</label>
      <input class="form-control"
             type="text"
             placeholder="nuevo puesto"
             formControlName="inputWorkexperiencePosition">
      <label class="col-form-label mt-4">Fecha de inicio:</label>
      <div class="input-group">
        <input
          class="form-control"
          placeholder="dd-mm-yyyy"
          formControlName="inputWorkexperienceDateFrom"
          name="dfrom"
          ngbDatepicker #dfrom="ngbDatepicker">
        <button class="btn btn-outline-danger" (click)="dfrom.toggle()" type="button">
          <fa-icon [icon]="faCalendar" class="fa-xs"></fa-icon>
        </button>
      </div>
      <div class="input-group">
        <input
          class="form-control"
          placeholder="dd-mm-yyyy"
          formControlName="inputWorkexperienceDateTo"
          name="dto"
          ngbDatepicker #dto="ngbDatepicker">
        <button class="btn btn-outline-danger" (click)="dto.toggle()" type="button">
          <fa-icon [icon]="faCalendar" class="fa-xs"></fa-icon>
        </button>
      </div>
      <label class="col-form-label mt-4">Detalles:</label>
      <input class="form-control"
             type="text"
             placeholder="Ingrese los datos requeridos"
             formControlName="inputWorkexperienceDetails">
      <label class="col-form-label mt-4">Seleccione la institución:</label>
      <div class="input-group">
        <select
          class="form-control"
          placeholder="select institution"
          formControlName="inputWorkexperienceInstitutionId"
        >
          <option *ngFor="let institution of allInstitutions" [value]="institution.institution_id">{{institution.institution}}</option>
        </select>
      </div>
      <div class="jumbotron"></div>
      <p class="mt-4">O agregue una nueva institución:</p>
      <button type="button" class="btn btn-outline-danger mb-4" (click)="openInstitutionModal()">Agregar Instititución</button>
      <div class="jumbotron"></div>
      <p class="text-primary">Esta acción añadirá <em>{{cardAlias}}</em> a su perfil.
        <span class="text-danger">Revise los datos ingresados antes de enviar.</span>
      </p>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="close()"
                [disabled]="workexperienceForm.invalid">Confirmar</button>
      </div>
    </div>
  </form>
</div>

<div class="modal-body" *ngIf="cardType === 'education'">
  <form novalidate
        [formGroup]="educationForm"
        (ngSubmit)="submit()">
    <div class="form">
      <label class="col-form-label mt-4">Nuevo título o certificado:</label>
      <input class="form-control"
             type="text"
             placeholder="nuevo certificado o título"
             formControlName="inputEducationDegree">
      <label class="col-form-label mt-4">Fecha de inicio de estudios:</label>
      <div class="input-group">
        <input
          class="form-control"
          placeholder="dd-mm-yyyy"
          formControlName="inputEducationDateFrom"
          name="edudfrom"
          ngbDatepicker #edudfrom="ngbDatepicker">
        <button class="btn btn-outline-danger" (click)="edudfrom.toggle()" type="button">
          <fa-icon [icon]="faCalendar" class="fa-xs"></fa-icon>
        </button>
      </div>
      <label class="col-form-label mt-4">Fecha de finalización de estudios:</label>
      <div class="input-group">
        <input
          class="form-control"
          placeholder="dd-mm-yyyy"
          formControlName="inputEducationDateTo"
          name="edudto"
          ngbDatepicker #edudto="ngbDatepicker">
        <button class="btn btn-outline-danger" (click)="edudto.toggle()" type="button">
          <fa-icon [icon]="faCalendar" class="fa-xs"></fa-icon>
        </button>
      </div>
      <label class="col-form-label mt-4 ">Seleccione la institución:</label>
      <div class="input-group">
          <select
            class="form-select"
            placeholder="select institution"
            formControlName="inputEducationInstitutionId"
            >
            <option *ngFor="let institution of allInstitutions" [value]="institution.institution_id">{{institution.institution}}</option>
          </select>
      </div>
      <div class="jumbotron"></div>
      <p class="mt-4">O agregue una nueva institución:</p>
      <button type="button" class="btn btn-outline-danger mb-4" (click)="openInstitutionModal()">Agregar Instititución</button>
      <div class="jumbotron"></div>
      <p class="text-primary">Esta acción añadirá <em>{{cardAlias}}</em> a su perfil.
        <span class="text-danger">Revise los datos ingresados antes de enviar.</span>
      </p>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="close()"
                [disabled]="educationForm.invalid">Confirmar</button>
      </div>


    </div>
  </form>
</div>
