a {
    color: #4e8b75;
    text-align: right;
  }
  
  #treasure-map { 
    width: auto;
    height: calc(100vw/1.558);
    margin: 0;
    background-image: url(../../../assets/img/treasure-map-full-effects-1.png);
    background-color: #212529;
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: local;
  }
  
  #treasure-map .row {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: calc( (100vw / 1.558) / 12);
  }
  
  #treasure-map .img {
    max-width: calc(100vw/12);
  }
  
  #treasure-map .row .col {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #lighthouse {
    max-width: calc((100vw/12)*0.9);
    align-content: right;
    vertical-align: top;
  }

  #well {
    max-width: calc((100vw/12)*0.75);
  }

  #mountain,  #bridge  {
    max-width: calc((100vw/12)*0.85);
  }

  #turtle, #dolphin, #windmill {
    max-width: calc((100vw/12)*0.9);
  }