<app-navbar></app-navbar>

<div class="container-fluid bg-dark">
  <div class="row row-cols-12">
      <div class="col-sm-9 bg-dark" id="mainmapBox">
        <div class="container-fluid" id="background">
          <div class="row row-cols-9">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
          <div class="row row-cols-9">
            <div class="col"></div>
            <div class="col">
                <app-milestone *ngIf="1 < numberOfMilestones"  [position]='1' (click)='sendPath(1)'></app-milestone>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
          <div class="row row-cols-9">
            <div class="col">
                <app-milestone *ngIf="0 < numberOfMilestones" [position]='0' (click)='sendPath(0)'></app-milestone>
            </div>
            <div class="col"></div>
            <div class="col">
                <app-milestone *ngIf="2 < numberOfMilestones"  [position]='2' (click)='sendPath(2)'></app-milestone>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <app-milestone *ngIf="8 < numberOfMilestones"  [position]='8' (click)='sendPath(8)'></app-milestone>
            </div>
          </div>
          <div class="row row-cols-9">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <app-milestone *ngIf="3 < numberOfMilestones"   [position]='3' (click)='sendPath(3)'></app-milestone>
            </div>
            <div class="col">
                <app-milestone *ngIf="4 < numberOfMilestones"   [position]='4' (click)='sendPath(4)'></app-milestone>
            </div>
            <div class="col"></div>
            <div class="col">
               <app-milestone *ngIf="6 < numberOfMilestones"   [position]='6' (click)='sendPath(6)'></app-milestone>
            </div>
            <div class="col">
               <app-milestone *ngIf="6 < numberOfMilestones"   [position]='7' (click)='sendPath(7)'></app-milestone>
            </div>
            <div class="col"></div>
          </div>
          <div class="row row-cols-9">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
               <app-milestone *ngIf="5 < numberOfMilestones" [position]='5' (click)='sendPath(5)'></app-milestone>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
          <div class="row row-cols-9">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
      </div>
      </div>
      <div class="col-sm-3 bg-dark" id="cardBox">
          <app-card class="bg-dark" [cardIndicator]='currentPosition'></app-card>
      </div>
  </div>
</div>
