#mainmapBox {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

#cardBox {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: #212429;
  color: #E6DEC6;
}

#background {
  max-height: calc(75vw/3.015);
  background-image: url(../../../assets/img/mapadeviajecortado.jpg);
  background-color: #212529;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
}

#background .row .col {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: calc((75vw/3.015)/6);
  display: flex;
  justify-content: center;
  align-items: center;
}
