<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Eliminar {{cardAlias}}</h4>
  <button type="button" class="btn-close" aria-describedby="modal-title"></button>
</div>
<div class="modal-body">
  <p><strong>¿Estás seguro de que deseas eliminar este <span class="text-primary"> {{dataTitle}} </span> de tu perfil?</strong></p>
  <p>La información se perderá en forma definitiva.
    <span class="text-danger">Esta acción no puede deshacerse.</span>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cancelar')">Cancelar</button>
  <button type="button" class="btn btn-danger" (click)="this.modal.close()">Eliminar</button>
</div>
