<div class="modal-header text-white bg-danger mb-3">
  <h4 class="modal-title border-danger mb-3">Error en el registro</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body border-danger mb-3">
  <h5>El registro de nuevo usuario no ha podido realizarse</h5>
  <p>Por favor, verifique los datos ingresados y vuelva a intentarlo más tarde.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
`
