@import "~bootstrap/dist/css/bootstrap.min.css";

p {
  color: #242615ff;
}

h2 {
  color: #1c803dff
} 

h3, h4 {
  color: #8FB037;
} 

header {
  padding-block: 20px;
  background-color: #8DBB7D;
  color: #242615ff;
  text-align: center;
}

.bi {
  vertical-align: -.125em;
  fill: #343a40;
}

a {
  color: #4EB48E;
}

#treasure-map { 
  width: auto;
  height: calc(100vw/1.558);
  margin: 0;
  background-image: url(../assets/img/treasure-map-full-effects-1.png);
  background-color: #212529;
  background-size:contain;
  background-repeat: no-repeat;
  background-attachment: local;
}

#treasure-map .row {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: calc( (100vw / 1.558) / 12);
}

#treasure-map .img {
  max-width: calc(100vw/12);
}

#treasure-map .row .col {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#teacher {
  max-width: calc((100vw/12)*0.6);
}

#hs-teacher {
  max-width: calc((100vw/12)*0.8);
}

#degree {
  max-width: calc((100vw/12)*0.8);
}

#argentinaprograma{
  max-width: calc((100vw/12)*0.6);
}