html,
body {
  justify-content: center;
  justify-items: center;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #8DBB7D;
  background-color: #343a40;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

label {
    color: #343a40;
}

input {
  z-index: 2;
}

 input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

  input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

button {
    background-color: #d0823b;
    border-color: #281d1c;
}
