
<body>
  <main>
    <form novalidate
      [formGroup]="loginForm"
      (ngSubmit)="save()">

      <img class="img-fluid mx-auto d-block" src="../../../assets/icons/edit/doublekey.png" alt="Access key" width="60vw">
      <h1 class="h3 mb-3 fw-normal text-center">Please log in</h1>

      <div class="form-floating">
        <label for="username">Username</label>
        <input class="form-control" 
           id="username" 
           type="text"
           placeholder="Username" 
           formControlName="userName">
        <div *ngIf="(loginForm.get('userName')?.touched || loginForm.get('userName')?.dirty) && !loginForm.get('userName')?.valid" class="alert alert-danger">
          <span class="invalid-feedback" *ngIf="loginForm.get('userName')?.errors?.['required']">
            Please enter your username.
          </span>
          <span class="invalid-feedback" *ngIf="loginForm.get('userName')?.errors?.['minlength']">
            The username must be longer than 3 characters.
          </span>
          <span class="invalid-feedback" *ngIf="loginForm.get('userName')?.errors?.['maxlength']">
          The username must be shorter than 12 characters.
          </span>
        </div>
      </div>

      <div class="form-floating">
        <label for="password">Password</label>
        <input class="form-control" 
           id="password" 
           type="text"
           placeholder="Password" 
           formControlName="userPassword">
        <div *ngIf="(loginForm.get('userPassword')?.touched || loginForm.get('userPassword')?.dirty) && !loginForm.get('userPassword')?.valid"  class="alert alert-danger">
          <span class="invalid-feedback" *ngIf="loginForm.get('userPassword')?.errors?.['required']">
            Please enter your password.
          </span>
          <span class="invalid-feedback" *ngIf="loginForm.get('userPassword')?.errors?.['minlength']">
            The password must be longer than 8 characters.
          </span>
          <span class="invalid-feedback" *ngIf="loginForm.get('userPassword')?.errors?.['maxlength']">
            The password must be shorter than 20 characters.
          </span>
        </div>
      </div>
     
      <div class="checkbox mb-3">
        <label>
          <input class="form-control" id="remember-me" type="checkbox" value="remember-me" formControlName="rememberMe"> Remember me
        </label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Log in
      </button>

    </form>
  </main>
</body>
