
<body>
  <main>
    <form novalidate
      [formGroup]="loginForm">
      <img class="img-fluid mx-auto d-block" src="../../../assets/icons/edit/doublekey.png" alt="Access key" width="60vw">
      <h1 class="h3 mb-3 fw-normal text-center">Please log in</h1>
      <div class="form">
        <label for="email">email</label>
        <input class="form-control" 
           id="email" 
           type="email"
           placeholder="email" 
           formControlName="userEmail">
        <div *ngIf="(UserEmail?.touched || UserEmail?.dirty) && !UserEmail?.valid" class="alert alert-danger">
          <span  class="alert alert-danger" role="alert" *ngIf="UserEmail?.hasError('required')">
            Please enter your email.
          </span>
          <span  class="alert alert-danger" role="alert" *ngIf="UserEmail?.hasError('email')">
            The email must be valid.
          </span>
        </div>
      </div>

      <div class="form">
        <label for="password">Password</label>
        <input class="form-control" 
           id="password" 
           type="password"
           placeholder="Password" 
           formControlName="userPassword">
        <div *ngIf="(UserPassword?.touched || UserPassword?.dirty) && !UserPassword?.valid"  class="alert alert-danger">
          <span  class="alert alert-danger" role="alert" *ngIf="loginForm.get('userPassword')?.errors?.['required']">
            Please enter your password.
          </span>
          <span  class="alert alert-danger" role="alert" *ngIf="loginForm.get('userPassword')?.errors?.['minlength']">
            The password must be longer than 8 characters.
          </span>
          <span  class="alert alert-danger" role="alert" *ngIf="loginForm.get('userPassword')?.errors?.['maxlength']">
            The password must be shorter than 20 characters.
          </span>
        </div>
      </div>
    

      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Log in
      </button>

    </form>
  </main>
</body>
