html,
body {
  justify-content: center;
  justify-items: center;
  font-size: 1vw;
}

body {
  display: flex;
  align-items: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
  color: #8DBB7D;
  background-color: #343a40;
}

.form {
  min-width: 30vw;
  max-width: 50vw;
}

.span {
  min-width: 30vw;;
  max-width: 50vw;
  min-height: 00.5vh;
  max-height: 2vh;
  font-size: 1vw;
}

.form-signin {
  width: 100%;
  max-width: fit-content;
  padding: 0.5vw;
  margin: auto;
}

label {
    color: #343a40;
}

input {
  z-index: 2;
}

 input[type="text"] {
  margin-bottom: -1vh;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

  input[type="password"] {
  margin-bottom: 1vh;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

button {
    background-color: #4f7097;
    border-color:  #bef2ff;
    color: #bef2ff;
    border-width: 0.6vw;
    font-weight: bolder;
}
